
<h1 class="table-title">Movies</h1>

<%= form_tag(movies_path, :method => 'get', id: "search") do %>
  <p class="search-bar">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><strong><%= movie.title %></strong></td>
        <td><%= movie.year %></td>
        <td><%= link_to 'Details/Reviews', movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new-movie">
  <%= link_to 'New Movie', new_movie_path %>
</div>
