
<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_movie_review_path(@movie, @review) %> |
<%= link_to 'Destroy', review_path(@review), method: :delete %> |
<%= link_to 'Back', movie_path(@review.movie.id) %>
